<!doctype html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<table>
  <caption>Lista de Trnsações financeiras</caption>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th>CPF</th>
      <th>Cartão</th>
      <th>Hora</th>
      <th>Dono da loja</th>
      <th>Loja</th>
      <th>Natureza</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in object_list %}
    <tr>
      <td>{{ transaction.transaction_type_name }}</td>
      <td>{{ transaction.transaction_date }}</td>
      <td>{{ transaction.transaction_value }}</td>
      <td>{{ transaction.cpf }}</td>
      <td>{{ transaction.credit_card }}</td>
      <td>{{ transaction.transaction_time }}</td>
      <td>{{ transaction.store.owner_name }}</td>
      <td>{{ transaction.store.name }}</td>
      <td>{% if transaction.is_positive %}Entrada{% else %}Saída{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>